<div class="border border-primary">
  <div>  Ajout d'une filiere</div>
  <form [formGroup]="filiereForm">
    <div>
      toucher = {{filiereForm.get('code')?.touched}}<br>
      non toucher = {{filiereForm.get('code')?.untouched}}<br>
      ecrire = {{filiereForm.get('code')?.dirty}}<br>
      vierge = {{filiereForm.get('code')?.pristine}}<br>
      valide = {{filiereForm.get('code')?.valid}}<br>
      non valide = {{filiereForm.get('code')?.invalid}}<br>

    </div>
    <div class="form-floating mb-3 m-2">
      <input formControlName="code" type="code"
             [class.is-valid] = "filiereForm.get('code')?.valid && filiereForm.get('code')?.dirty"
             [class.is-invalid] = "filiereForm.get('code')?.invalid && filiereForm.get('code')?.touched "
             class="form-control " id="codeFiiere" placeholder="votre code">
      <label for="codeFiiere">Code </label>
    </div>

    <div class="form-floating mb-3 m-2">
      <input formControlName="nom" type="nom"
             [class.is-valid] = "filiereForm.get('nom')?.valid && filiereForm.get('nom')?.dirty"
             [class.is-invalid] = "filiereForm.get('nom')?.invalid && filiereForm.get('nom')?.touched "
             class="form-control " id="nomFiliere" placeholder="">
      <label for="nomFiliere">Nom </label>
    </div>

    <div class="form-floating mb-3 m-2">
      <input formControlName="departement" type="departement"
             [class.is-valid] = "filiereForm.get('departement')?.valid && filiereForm.get('departement')?.dirty"
             [class.is-invalid] = "filiereForm.get('departement')?.invalid && filiereForm.get('departement')?.touched "
             class="form-control " id="departement" placeholder="">
      <label for="departement">Departement </label>
    </div>

    <div class="form-floating mb-3 m-2">
      <input formControlName="description" type="description"
             [class.is-valid] = "filiereForm.get('description')?.valid && filiereForm.get('description')?.dirty"
             [class.is-invalid] = "filiereForm.get('description')?.invalid && filiereForm.get('description')?.touched "
             class="form-control " id="description" placeholder="">
      <label for="description">Description </label>
    </div>



    <div class="mb-3" >
      <button class="btn btn-primary" [disabled]="filiereForm.invalid">Enregistrer</button>
      <button class="btn btn-outline-danger">Annuler</button>

    </div>
    <div>
      toucher = {{filiereForm.touched}}<br>
      non toucher = {{filiereForm.untouched}}<br>
      ecrire = {{filiereForm.dirty}}<br>
      vierge = {{filiereForm.pristine}}<br>
      valide = {{filiereForm.valid}}<br>
      non valide = {{filiereForm.invalid}}<br>

    </div>

  </form>
</div>
