<div>
  <div>Liste des enseignants</div>
  <div class=" border border-primary">
    <div *ngIf="!finChargement">
      <img src="/images/loading.gif" width="50px" alt="Chargement des enseignants">
    </div>
    <div class="text-danger" *ngIf="errorMessage">{{errorMessage}}</div>


    <div *ngFor="let e of enseignants" class="border border-primary mx-2 p-2  "
         (click)="setSelectedEnseignant(e?.id)"
         [class.selectedDivItem] = "e.id == selectedEnseignant"
         [class.overDivItem] = "e.id == overEnseignant"
         (mouseover)="setOverEnseignant(e?.id)"
    >
      <div>selectedEnseignant:{{selectedEnseignant}}</div>
      <div>overEnseignant:{{overEnseignant}}</div>

      <span class="gs-form-label">Id</span> :
      <span class="gs-form-output-value">{{e.id}}</span><br>

      <span class="gs-form-label">Prenom</span> :
      <span class="gs-form-output-value">{{e.prenom}}</span><br>

      <span class="gs-form-label">Nom</span> :
      <span class="gs-form-output-value">{{e.nom}}</span><br>

      <span class="gs-form-label">Matieres</span> :
      <span class="gs-form-output-value">{{e.matieres}}</span>

      <div class=" mt-2" *ngIf="overEnseignant == e.id">
        <button class="btn btn-link"
                [routerLink]="['/details-enseignant',e.id]">
          Voir details</button>
      </div>

    </div>

  </div>
</div>
